
<mat-grid-list cols="6" rowHeight="65rem" role="list" >

    <mat-grid-tile colspan="1" ></mat-grid-tile>

    <mat-grid-tile role="listitem" colspan="2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Basic grid-list</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content >

                <mat-grid-list cols="2" rowHeight="2:1" style="background: lightblue;">
                    <mat-grid-tile>1</mat-grid-tile>
                    <mat-grid-tile>2</mat-grid-tile>
                    <mat-grid-tile>3</mat-grid-tile>
                    <mat-grid-tile>4</mat-grid-tile>
                  </mat-grid-list>

            </mat-card-content>

            <mat-divider></mat-divider>

            <mat-card-header>
                <mat-card-title>Dynamic grid-list</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-grid-list cols="4" rowHeight="100px">
                    <mat-grid-tile
                        *ngFor="let tile of tiles"
                        [colspan]="tile.cols"
                        [rowspan]="tile.rows"
                        [style.background]="tile.color">
                      {{tile.text}}
                    </mat-grid-tile>
                  </mat-grid-list>

            </mat-card-content>

      </mat-card>
   </mat-grid-tile>

   <mat-grid-tile role="listitem" colspan="2">
    <mat-card>

      <mat-card-header>
      <mat-card-title>Basic grid-list</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content style="padding-bottom: 14.3rem">
          <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    See source code + explanation
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="HTML">
                      <ng-template matTabContent>
                          <ngx-codemirror
                            [(ngModel)]="BasicGridList"
                            [options]="{
                            lineNumbers: true,
                            theme: 'material',
                            mode: 'markdown'
                            }"
                          ></ngx-codemirror>
                      </ng-template>
                    </mat-tab>
                    <mat-tab label="Explanations template">
                        <ng-template matTabContent>
                          please write 
                        </ng-template>
                    </mat-tab>
                  </mat-tab-group>
              </mat-expansion-panel>
          </mat-accordion>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-header>
        <mat-card-title>Dynamic grid-list</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
  
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      See source code + explanation
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                      <mat-tab label="HTML">
                        <ng-template matTabContent>
                            <ngx-codemirror
                              [(ngModel)]="DynamicGridListHTML"
                              [options]="{
                              lineNumbers: true,
                              theme: 'material',
                              mode: 'markdown'
                              }"
                            ></ngx-codemirror>
                        </ng-template>
                      </mat-tab>
                      <mat-tab label="TS">
                        <ng-template matTabContent>
                            <ngx-codemirror
                              [(ngModel)]="DynamicGridListTS"
                              [options]="{
                              lineNumbers: true,
                              theme: 'material',
                              mode: 'markdown'
                              }"
                            ></ngx-codemirror>
                        </ng-template>
                      </mat-tab>
                      <mat-tab label="Explanations template">
                          <ng-template matTabContent>
                            please write 
                          </ng-template>
                      </mat-tab>
                    </mat-tab-group>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>

  </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" ></mat-grid-tile>

</mat-grid-list>