
mat-grid-tile{
    overflow: visible;
}

mat-card {
    height: stretch;
    width: stretch;
    padding-bottom: 5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

mat-card-header{
    display: inline-block;
    text-align: center;
    padding-bottom: 1rem;
};

mat-grid-tile[colspan="1"] mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    min-height: 10rem;
}

mat-grid-tile[colspan="2"] mat-card-content {
    padding-bottom: 7rem;
}