
mat-grid-tile{
    overflow: visible;
}

mat-card {
    height: stretch;
    width: stretch;
    padding-bottom: 5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

mat-card-header{
    display: inline-block;
    text-align: center;
    padding-bottom: 1rem;
};

 mat-card-content {
    padding: 1rem 1rem 3rem 1rem;

}