<mat-grid-list cols="9" rowHeight="130rem" role="list" >

    <mat-grid-tile colspan="1"></mat-grid-tile>

    <mat-grid-tile role="listitem" colspan="3">
        <mat-card>
            <mat-card-header>Chips basics (horizontal)</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-label>This is mat-label (optional).these are options:</mat-label>
                <mat-chip-listbox>
                    <mat-chip-option color="warn" selected>this you can select</mat-chip-option>
                    <mat-chip>this you cannot</mat-chip>
                    <mat-chip disabled>this is disabled</mat-chip>
                </mat-chip-listbox>
            </mat-card-content>

            <mat-card-header>Stacked chips (vertical)</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="width: 50%; margin: 0 auto">
                <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
                    <mat-chip-option *ngFor="let chip of stackedColors" selected [color]="chip.color">
                      {{chip.name}}
                    </mat-chip-option>
                </mat-chip-listbox>
            </mat-card-content>

            <mat-card-header>Chips Drag and Drop</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content >
                <mat-chip-set
                    class="example-chip"
                    cdkDropList 
                    cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($event)">
                    <mat-chip
                        class="example-box"
                        cdkDrag
                        *ngFor="let vegetable of vegetables">
                        {{vegetable.name}}
                    </mat-chip>
                </mat-chip-set>
            </mat-card-content>

            <mat-card-header>Chips with input</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content >
                <mat-form-field style="width: 100%" class="example-chip-list" appearance="fill">
                    <mat-label>Favorite Fruits</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter fruits">
                      <mat-chip-row *ngFor="let fruit of fruits"
                                    (removed)="remove(fruit)"
                                    [editable]="true"
                                    (edited)="edit(fruit, $event)"
                                    [aria-description]="'press enter to edit ' + fruit.name">
                        {{fruit.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      <input placeholder="New fruit..."
                             [matChipInputFor]="chipGrid"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlur"
                             (matChipInputTokenEnd)="add($event)"/>
                    </mat-chip-grid>
                </mat-form-field>
            </mat-card-content>

            <mat-card-header>Chips with avatar</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-chip-listbox aria-label="Dog selection">
                    <mat-chip>
                      <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                      Dog one
                    </mat-chip>
                    <mat-chip color="primary">
                      <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                      Dog two
                    </mat-chip>
                    <mat-chip color="accent">
                      <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                      Dog three
                    </mat-chip>
                  </mat-chip-listbox>
            </mat-card-content>


            <app-chips-with-autocomplete></app-chips-with-autocomplete>

            <app-chips-with-form-control-and-buttons></app-chips-with-form-control-and-buttons>



        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile role="listitem" colspan="4">
        <mat-card>
            <mat-card-header>Chips basics (horizontal)</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="padding-top: 4.2rem">
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          See source code
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                            <ngx-codemirror
                            [(ngModel)]="chipsBasic"
                            [options]="{
                            lineNumbers: true,
                            theme: 'material',
                            mode: 'markdown'
                            }"
                        ></ngx-codemirror>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
            
            <mat-card-header>Stacked chips (vertical)</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="padding: 4rem 1rem 5rem 1rem">
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          See source code
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                            <ngx-codemirror
                            [(ngModel)]="stackedColorsTemplate"
                            [options]="{
                            lineNumbers: true,
                            theme: 'material',
                            mode: 'markdown'
                            }"
                        ></ngx-codemirror>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
  
            <mat-card-header>Chips Drag and Drop</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="padding: 2rem 1rem 2rem 1rem">
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          See source code
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                        
                        <mat-tab label="HTML">
                          <ng-template matTabContent>
                          <ngx-codemirror
                            [(ngModel)]="dragDropTemplateHTML"
                            [options]="{
                            lineNumbers: true,
                            theme: 'material',
                            mode: 'markdown'
                            }"
                        ></ngx-codemirror>
                        </ng-template>
                        </mat-tab>
                        <mat-tab label="TS">
                          <ng-template matTabContent>
                          <ngx-codemirror
                            [(ngModel)]="dragDropTemplateTS"
                            [options]="{
                            lineNumbers: true,
                            theme: 'material',
                            mode: 'markdown'
                            }"
                        ></ngx-codemirror>
                        </ng-template>
                        </mat-tab>
                      </mat-tab-group>


                          
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        

            <mat-card-header style="padding: 1rem">Chips with input</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content  style="padding: 3rem 1rem 3rem 1rem">
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          See source code
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                        
                        <mat-tab label="HTML">
                          <ng-template matTabContent>
                          <ngx-codemirror
                            [(ngModel)]="chipsWithInputHTML"
                            [options]="{
                            lineNumbers: true,
                            theme: 'material',
                            mode: 'markdown'
                            }"
                        ></ngx-codemirror>
                        </ng-template>
                        </mat-tab>
                        <mat-tab label="TS">
                          <ng-template matTabContent>
                          <ngx-codemirror
                            [(ngModel)]="chipsWithInputTS"
                            [options]="{
                            lineNumbers: true,
                            theme: 'material',
                            mode: 'markdown'
                            }"
                        ></ngx-codemirror>
                        </ng-template>
                        </mat-tab>
                      </mat-tab-group>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>

            <mat-card-header style="padding-top: .9rem">Chips with avatar</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          See source code
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                            <ngx-codemirror
                            [(ngModel)]="chipsWithAvatar"
                            [options]="{
                            lineNumbers: true,
                            theme: 'material',
                            mode: 'markdown'
                            }"
                        ></ngx-codemirror>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>


            <mat-card-header style="padding: 2.5rem 2rem 1.5rem 2rem">Chips with autocomplete</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content >
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        See source code
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                      
                      <mat-tab label="HTML">
                        <ng-template matTabContent>
                        <ngx-codemirror
                          [(ngModel)]="chipsWithhAutocompleteHTML"
                          [options]="{
                          lineNumbers: true,
                          theme: 'material',
                          mode: 'markdown'
                          }"
                      ></ngx-codemirror>
                      </ng-template>
                      </mat-tab>
                      <mat-tab label="TS">
                        <ng-template matTabContent>
                        <ngx-codemirror
                          [(ngModel)]="chipsWithhAutocompleteTS"
                          [options]="{
                          lineNumbers: true,
                          theme: 'material',
                          mode: 'markdown'
                          }"
                      ></ngx-codemirror>
                      </ng-template>
                      </mat-tab>
                    </mat-tab-group>
                  </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>


            <mat-card-header style="padding: 4.5rem 2rem 1.5rem 2rem">Chips with form control + buttons</mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content >
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        See source code
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                      
                      <mat-tab label="HTML">
                        <ng-template matTabContent>
                        <ngx-codemirror
                          [(ngModel)]="chipsWithhFormControlAndButtonsHTML"
                          [options]="{
                          lineNumbers: true,
                          theme: 'material',
                          mode: 'markdown'
                          }"
                      ></ngx-codemirror>
                      </ng-template>
                      </mat-tab>
                      <mat-tab label="TS">
                        <ng-template matTabContent>
                        <ngx-codemirror
                          [(ngModel)]="chipsWithhFormControlAndButtonsTS"
                          [options]="{
                          lineNumbers: true,
                          theme: 'material',
                          mode: 'markdown'
                          }"
                      ></ngx-codemirror>
                      </ng-template>
                      </mat-tab>
                    </mat-tab-group>
                  </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>





        </mat-card>
        
    </mat-grid-tile>

    <mat-grid-tile colspan="1"></mat-grid-tile>
</mat-grid-list>


