<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button (click)="toggleSidenav($event)"><mat-icon>menu</mat-icon>Menu</button>
        <!-- <button mat-button><mat-icon>home</mat-icon>Home</button> -->
        <h4>Angular Material UI Cheatsheet</h4>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
  
    <mat-sidenav #sidenav mode="side">
        <mat-list>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header >
                     <h3>Buttons</h3>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <button mat-button (click)="showElement('buttons')">Buttons</button>
                    <button mat-button (click)="showElement('toggleButtons')">Toggle Buttons</button>
                    <button mat-button (click)="showElement('icons')">Icons</button>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('chips')"><h3>Chips</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('badge')"><h3>Badge</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('progressbar')"><h3>Progress Bar</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('progressspinner')"><h3>Progress Spinner</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('cards')"><h3>Cards</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('autocomplete')"><h3>Autocomplete</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('checkbox')"><h3>Checkbox</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('datepicker')"><h3>Datepicker</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('radiobutton')"><h3>Radio buttons</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('formfield')"><h3>Form fields</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('paginator')"><h3>Paginator</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('expansionpanel')"><h3>Expansion Panel</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('gridlist')"><h3>Grid list</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('menu')"><h3>Menu</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('select')"><h3>Select</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('input')"><h3>Input</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('list')"><h3>List</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('slider')"><h3>Slider</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('slidetoggle')"><h3>Slide Toggle</h3></button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button class="navButton" (click)="showElement('table')"><h3>Table</h3></button>
            </mat-list-item>

            <!-- 
            <mat-list-item>
                <a [routerLink]="['/about-us']">see drag&drop</a>
            </mat-list-item>
            <mat-list-item>
                <button mat-raised-button>this does nothing</button>
            </mat-list-item> -->
        </mat-list>    
    </mat-sidenav>
  
    <mat-sidenav-content >
      <!-- <div *ngIf="!element">Show this while nothing is chosen</div>
      <ng-container *ngComponentOutlet="(element)" ></ng-container> -->
    <app-dialog></app-dialog>

    </mat-sidenav-content>
  
</mat-sidenav-container>

