
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button (click)="toggleSidenav($event)"><mat-icon>menu</mat-icon>Menu</button>
        <!-- <button mat-button><mat-icon>home</mat-icon>Home</button> -->
        <h4>Angular Material UI Cheatsheet</h4>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
  
    <mat-sidenav #sidenav mode="side">
        <mat-list>
            <mat-list-item>
                <button mat-button (click)="showElement('buttons')">Buttons</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button (click)="showElement('chips')">Chips</button>
            </mat-list-item>
            <!-- 
            <mat-list-item>
                <a [routerLink]="['/about-us']">see drag&drop</a>
            </mat-list-item>
            <mat-list-item>
                <button mat-raised-button>this does nothing</button>
            </mat-list-item> -->
        </mat-list>    
    </mat-sidenav>
  
    <mat-sidenav-content >
      <div *ngIf="!element">Show this while nothing is chosen</div>
      <ng-container *ngComponentOutlet="(element)" ></ng-container>

    </mat-sidenav-content>
  
</mat-sidenav-container>

