
mat-sidenav-container{
    height: 91.5vh
}

mat-sidenav{
    width: 200px;
    background-color: #eee;
}

a {
    text-decoration: none;
}


h4{
 margin: 0 auto;
}

mat-list{
    width: 100%;
}

mat-list-item{
    background: white;
}

.navButton{
    width: 100%;
    height: 100%;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.mdc-button{
    justify-content: flex-start;
}

mat-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .mdc-button {
        font-weight: 400;
        color: black;
        justify-content:center;
    }
} 

mat-expansion-panel-header h3{
    padding-top: 1rem;
}
.mdc-list {
    padding: 0;
}
.mdc-list-item{
    padding: 0;
    margin: 0
}

