mat-grid-tile{
    overflow: visible;
  }
  
  mat-card {
    height: stretch;
    width: stretch;
    padding-bottom: 5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  
  mat-card-header{
    display: inline-block;
    text-align: center;
    padding-bottom: 1rem;
  };

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }