
mat-grid-tile{
    overflow: visible;
}

mat-card {
     height: stretch;
     width: stretch;
}

mat-card-header{
    display: inline-block;
    text-align: center;
    padding-bottom: 1rem;
};

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}


.code {
    display: flex;
    flex-direction: column;
    gap: .94rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem
}
