
mat-grid-tile{
    overflow: visible
}

mat-card {
    height: stretch;
    width: stretch;
    margin-top: 3rem;
}

mat-card-header{
    display: inline-block;
    text-align: center;
    padding-bottom: 1rem;
};

mat-card-content{
    padding: 1rem;
}
